@media screen and  (max-width:1200px){
    nav {
        padding: 10px 100px;
    }
    /* section one */
    .secOne  .leftDivSecOne h1{
        font-size: 33px;
    }
    .secOne  .leftDivSecOne p{
        font-size: 18px;
    }
    .secOne .rightDivSecOne .mask{
        position: absolute;
        width: 260px;
    }
    .secOne .rightDivSecOne .landing{
        width: 500px;
        height: 600px;
        bottom: -130px;
    }
    
    .secOne .rightDivSecOne .clouds{
        position: absolute;
        bottom: -90px;
        width: 370px;
    }
    .waves{
        width: 80%;
        transform: translate(-200px , -220px);
    }

/* section two */
.secTwo{
    height: 550px;
    padding: 0;
}
    .secTwo .bottomRightDiv{
    width: 320px;
    position: absolute;
    right: 0%;
    top: 530px;
}



/* section four */
.secFour{
    height: 420px;
}

.leftSecFour .linksSecfour{
    display: flex;
    gap: 25px;
    margin-bottom: 10px;
}







}
@media screen and  (max-width:992px){
    nav {
        padding: 10px 80px;
    }
    nav .logoAndLinks .designLinks a{
        font-size: 14px;
        padding: 0 7px;
    }



    /* section one */
    .secOne{
        height: 500px;
        transform: translateY(-150px);
    }
    .secOne  .leftDivSecOne h1{
        font-size: 30px;
    }
    .secOne  .leftDivSecOne p{
        font-size: 16px;
    }
    .secOne .rightDivSecOne .mask{
        position: absolute;
        width: 200px;
    }
    .secOne .rightDivSecOne .landing{
        width: 400px;
        height: 450px;
        bottom: -70px;
    }
    
    .secOne .rightDivSecOne .clouds{
        bottom: -60px;
    }
    .waves{
        width: 80%;
        transform: translate(-140px , -200px);
    }


    /* section two */
    .secTwo .bgSecTwo{
    position: absolute;
    top: 0;
    left: 220px;
    right: 80px;
    bottom: 0;
    width: 72%;
    height: 100%;
    z-index: -1;
    }
    .secTwo .flexDivs{
    width: 200px;
    }
    .secTwo .flexDivs img{
    width: 150px;
    }
    .secTwo .flexDivs h1{
    font-size: 20px;
    }
    .secTwo .flexDivs p{
    font-size: 12px;
    }
    .secTwo .bottomRightDiv{
    top: 530px;
    right: 8%;
}
.secTwo .midDiv{
    left: 45%;
    top: 42%;
}
.secTwo .topDiv{
    left: 100px;
    top: 70px;
}
.secTwo .bottomLeftDiv{
    left: 100px;
    top: 460px;
}


/* section three */
.secThree .flexSecThree{
    gap: 40px;
}

/* section four */
.secFour{
    height: 320px;
}

.rightecFour{
    width: 300px;
}
.leftSecFour{
    gap: 8px;
    margin-bottom: 15px;
}
.leftSecFour .storeDivs .storImgs img{
    width: 15px;
}
.leftSecFour .storeDivs .storImgs h1{
    font-size: 10px;
}
.leftSecFour .storeDivs .storImgs p{
    font-size: 7px;
}
.leftSecFour .socialSecFour{
    gap: 12px;
}
.leftSecFour .socialSecFour img{
    width: 12px;
}

}






@media screen and  (max-width:768px){
    nav {
        padding: 10px 50px;
    }
    nav .logoAndLinks img{
    width: 90px;
    }
    nav .logoAndLinks .designLinks a{
        font-size: 12px;
        font-weight: 500;
        padding: 0 2px;
    }



    /* section one */
    .secOne{
        flex-direction: column-reverse;
        height: 700px;
        padding: 0 50px 0 130px;
    }
    .secOne .rightDivSecOne{
    width: 100%;
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50px);
}
    .secOne  .leftDivSecOne{
        width: 100%;
    }
    .secOne  .leftDivSecOne h1{
        font-size: 40px;
    }
    /* .secOne .rightDivSecOne {
        display: none;
    }
    .waves{
        display: none;
    } */

.secTwo{
    margin: 0 10px;
    height: 400px;
    transform: translateY(-250px);
}
.secTwo .bgSecTwo{
    left: 130px;
}
.secTwo .topDiv{
    left: 30px;
    top:60px;
}
.secTwo .flexDivs{
    width: 150px;
}
.secTwo .flexDivs img{
    width: 100px;
    margin-bottom: 5px;
}
.secTwo .flexDivs h1{
    font-size: 14px;
}
.secTwo .flexDivs p{
    font-size: 10px;
}

.secTwo .midDiv{
    width: 150px;
    left: 41%;
    top: 43%;
}
.secTwo .bottomRightDiv{
    width: 220px;
    position: absolute;
    right:4%;
    top: 390px;
}
.secTwo .bottomLeftDiv{
    width: 150px;
    height: 150px;
    left: 80px;
    top: 370px;
}
.secTwo .bottomLeftDiv h5{
    font-size: 10px;
}
.secTwo .bottomLeftDiv h1{
    font-size: 20px;
}


/* section three */
.secThree .arrwo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    transform: translateY(-130px);
}
.secThree .flexSecThree{
    gap: 18px;
}
.secThree .flexSecThree .oneSecthree{
    width: 100px;
    height: 100px;
}
.secThree .flexSecThree .midSEcThree{
    width: 250px;
}
.secThree .flexSecThree .midSEcThree img{
    width: 250px;
}
.secThree .flexSecThree .midSEcThree h1{
    font-size: 16px;
    margin-bottom: 10px;
}
.secThree .flexSecThree .midSEcThree p{
    font-size: 10;
    font-weight: 400;
    width: 90%;
}

/* section four */
.secFour{
    height: 200px;
    background-image: none;
    background-color: black;
    align-items: center;
}
.rightecFour{
    display: none;
}
.leftSecFour{
    align-items: center;
    gap: 20px;
}



}















@media screen and  (max-width:600px){
    nav button{
        margin-right: 15px;
    }
    nav i{
    visibility: visible;
    }
    nav .logoAndLinks .designLinks a{
        display: none;
    }
    .secOne {
        height: 400px;
        padding: 100px 50px 0 80px;
    }
    .secOne  .leftDivSecOne h1{
        font-size: 25px;
    }
    .secOne .rightDivSecOne {
        display: none;
    }
    /* .waves{
        display: none;
    } */


    .secTwo .bgSecTwo{
   display: none;
}
.secTwo .bottomLeftDiv{
    left: 20px;
    top: 370px;
}



}